<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="/static/css/about.css"/>
    <link rel="stylesheet"  href="/static/css/global.css"/>
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@500;600;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Trap:wght@700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="about-us">
    		<div class="footer">
      			<div class="footers-background">
        				<div class="container">
          					<div class="details">
            						<div class="email">
              							<div class="addres">Email</div>
              							<div class="harsarchitectsgmailcom">harsarchitects@gmail.com</div>
            						</div>
            						<div class="phone-number">
              							<div class="addres">Phone Number</div>
              							<div class="harsarchitectsgmailcom">+59 82185672355</div>
            						</div>
            						<div class="contact">
              							<div class="addres">Addres</div>
              							<div class="anywhere-st-chicago">123 Anywhere St Chicago, 452 Somewhere St New York</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="body">
      			<div class="container01">
        				<img class="karsten-winegeart-jlqufsnjcca-icon" alt="" src="/static/assets/images/karsten-winegeart-jLQUfSnjccA-unsplash.jpg">
        				
        				<div class="section01">
          					<div class="about-harsa">About Harsa</div>
          					<div class="harsa-is-a-team-of-architects-parent">
            						<div class="harsa-is-a">Harsa is a team of architects, engineers, and builders under one roof.</div>
            						<div class="our-modular-design">Our modular design system, paired with software, helps simplify homebuilding to unlock the housing we need for tomorrow.</div>
          					</div>
        				</div>
      			</div>
      			<div class="container02">
        				<div class="content">
          					<div class="title">
            						<div class="why-choose-harsa">Why Choose Harsa?</div>
          					</div>
          					<div class="menus">
            						<div class="points-harsa">
              							<div class="points-parent">
                								<div class="points">
                  									<div class="point">
                  									</div>
                  									<div class="title">
                    										<div class="inovative-designs">Inovative Designs</div>
                  									</div>
                								</div>
                								<div class="lorem-ipsum-dolor-sit-amet-co-wrapper">
                  									<div class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                								</div>
              							</div>
              							<img class="alexander-lunyov-ak6ikszoss0-u-icon" alt="" src="/static/assets/images/alexander-lunyov-Ak6Ikszoss0-unsplash.jpg">
              							
            						</div>
            						<div class="points-harsa1">
              							<div class="points1">
                								<div class="point">
                								</div>
                								<div class="inovative-designs">Exceptional Customer Service</div>
              							</div>
            						</div>
            						<div class="points-harsa1">
              							<div class="points1">
                								<div class="point">
                								</div>
                								<div class="inovative-designs">Wide Range of Services</div>
              							</div>
            						</div>
            						<div class="points-harsa1">
              							<div class="points1">
                								<div class="point">
                								</div>
                								<div class="inovative-designs">Exeprienced Team</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<div class="container02">
        				<div class="content1">
          					<div class="section011">
            						<div class="indicator01">
              							<div class="phone-number">
                								<b class="b">30+</b>
                								<div class="years-of-experience">Years of Experience</div>
              							</div>
              							<div class="phone-number">
                								<b class="b">86</b>
                								<div class="awards">Awards</div>
              							</div>
              							<div class="phone-number">
                								<b class="b">254,267</b>
                								<div class="awards">Projects</div>
              							</div>
            						</div>
            						<img class="creatopy-pyl-no-0zje-unsplash-icon" alt="" src="/static/assets//images/creatopy-PYL_nO-0ZjE-unsplash.jpg">
            						
          					</div>
          					<div class="section02">
            						<div class="indicator011">
              							<div class="phone-number">
                								<b class="b">32,802</b>
                								<div class="awards">Clients Served</div>
              							</div>
              							<div class="phone-number">
                								<b class="b">90%</b>
                								<div class="awards">Client Satisfaction</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<div class="container-parent">
        				<div class="menu-bar">
          					<div class="profile-card">
            						<img class="picture-icon" alt="" src="/static/assets/images/profile/linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg">
            						
            						<div class="contact">
              							<div class="harsa-is-a">John Doe</div>
              							<div class="principal-architect">Principal Architect</div>
            						</div>
          					</div>
          					<div class="profile-card">
            						<img class="picture-icon" alt="" src="/static/assets/images/profile/muhammad-kevan-sBH8BUWN72w-unsplash.jpg">
            						
            						<div class="contact">
              							<div class="harsa-is-a">Bradley Horse</div>
              							<div class="principal-architect">Department Heads</div>
            						</div>
          					</div>
        				</div>
        				<div class="our-team">Our Team</div>
        				<div class="menu-bar">
          					<div class="profile-card">
            						<img class="picture-icon" alt="" src="/static//assets/images/profile/alexander-hipp-iEEBWgY_6lA-unsplash.jpg">
            						
            						<div class="contact">
              							<div class="harsa-is-a">Alex Whitney</div>
              							<div class="principal-architect">Project Managers</div>
            						</div>
          					</div>
          					<div class="profile-card">
            						<img class="picture-icon" alt="" src="/static//assets/images/profile/ambitious-studio-rick-barrett-1AWLuO_dKiM-unsplash.jpg">
            						
            						<div class="contact">
              							<div class="harsa-is-a">Edwin Sonoma</div>
              							<div class="principal-architect">Designer</div>
            						</div>
          					</div>
          					<div class="profile-card">
            						<img class="picture-icon" alt="" src="/static//assets/images/profile/gruescu-ovidiu-fWjqkOnfkgE-unsplash.jpg">
            						
            						<div class="contact">
              							<div class="harsa-is-a">Brenda Janson</div>
              							<div class="principal-architect">Designer</div>
            						</div>
          					</div>
          					<div class="profile-card">
            						<img class="picture-icon" alt="" src="/static//assets/images/profile/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash.jpg">
            						
            						<div class="contact">
              							<div class="harsa-is-a">Emily Rose</div>
              							<div class="principal-architect">Administrative Staff</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="header">
      			<img class="logo-harsa-1" alt="" src="/static/assets/images/logoHarsa.png">
      			
				<nav class="menu-bar">
					<a href="{{ url_for('home') }}" class="menu-link">Home</a>
					<a href="/" class="menu-link active">About</a>
					<a href="{{ url_for('services') }}" class="menu-link">Services</a>
					<a href="{{ url_for('portofolio') }}" class="menu-link">Portfolio</a>
					<a href="{{ url_for('contact') }}" class="menu-link">Contact</a>
					<a href="{{ url_for('cost_estimator') }}" class="menu-link">Cost Estimator</a>
					<a href="{{ url_for('login') }}" class="menu-link">Login</a>
				</nav>
  	</div>
</body>
</html>