<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="/static/css/global.css"/>
    <link rel="stylesheet"  href="/static/css/portofolio.css"/>
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@500;600&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Trap:wght@700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="portofolio">
    		<div class="footer">
      			<div class="footers-background">
        				<div class="container">
          					<div class="details">
            						<div class="email">
              							<div class="addres">Email</div>
              							<div class="harsarchitectsgmailcom">harsarchitects@gmail.com</div>
            						</div>
            						<div class="phone-number">
              							<div class="addres">Phone Number</div>
              							<div class="harsarchitectsgmailcom">+59 82185672355</div>
            						</div>
            						<div class="contact">
              							<div class="addres">Addres</div>
              							<div class="anywhere-st-chicago">123 Anywhere St Chicago, 452 Somewhere St New York</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="body">
      			<div class="content01">
        				<img class="picture-icon" alt="" src="/static/assets/images/portofolio/bates-project-exterior.jpeg">
        				
        				<div class="section">
          					<img class="picture-icon1" alt="" src="/static/assets/images/portofolio/bates-interior.jpg">
          					
          					<div class="details1">
            						<div class="name">
              							<div class="name1">
                								<p class="bates">Bates</p>
              							</div>
              							<div class="location">El Cerrito, California</div>
            						</div>
            						<div class="description">This stunning backyard home is perched on a west-facing hillside near Tilden Regional Park in El Cerrito. After living on the property for forty years, the family transformed an unused, windswept hillside into a sun-soaked second home with panoramic views of the San Francisco Bay and Golden Gate Bridge.</div>
          					</div>
          					<div class="buttons">
            						<div class="view-project">View Project</div>
          					</div>
        				</div>
      			</div>
      			<div class="content01">
        				<img class="picture-icon" alt="" src="/static/assets/images/portofolio/northlane-project-exterior.jpeg">
        				
        				<div class="section">
          					<img class="picture-icon1" alt="" src="/static/assets/images/portofolio/northlane-project-interior.jpeg">
          					
          					<div class="details1">
            						<div class="name">
              							<div class="name1">
                								<p class="bates">North Lane</p>
              							</div>
              							<div class="location">Orinda, California</div>
            						</div>
            						<div class="description1">Nestled into a hillside at the base of Tilden Regional Park in the bucolic Bay Area town of Orinda, California, this L-shaped Accessory Dwelling balances a small footprint with bright and airy functional interiors.</div>
          					</div>
          					<div class="buttons">
            						<div class="view-project">View Project</div>
          					</div>
        				</div>
      			</div>
      			<div class="content01">
        				<img class="picture-icon" alt="" src="/static/assets/images/portofolio/ramona-project-exterior.jpeg">
        				
        				<div class="section">
          					<img class="picture-icon1" alt="" src="/static/assets/images/portofolio/ramona-project-interior.jpeg">
          					
          					<div class="details1">
            						<div class="name">
              							<div class="name1">Ramona</div>
              							<div class="location">Albany, California</div>
            						</div>
            						<div class="description1">This multi-functional unit was designed with present and future uses in mind. With a corner-hugging, L-shaped layout and integrated wood deck, the small-but-mighty space replaced an old garage to create more living area in the backyard.</div>
          					</div>
          					<div class="buttons">
            						<div class="view-project">View Project</div>
          					</div>
        				</div>
      			</div>
      			<div class="content01">
        				<img class="picture-icon" alt="" src="/static/assets/images/portofolio/caldwell-project-exterior.jpeg">
        				
        				<div class="section">
          					<img class="picture-icon1" alt="" src="/static/assets/images/portofolio/caldwell-project-interior.jpeg">
          					
          					<div class="details1">
            						<div class="name">
              							<div class="name1">
                								<p class="bates">Caldwell</p>
              							</div>
              							<div class="location">Oakland, California</div>
            						</div>
            						<div class="description1">Situated at the base of an Oakland hillside home, this backyard ADU functions as a remote working office, guesthouse, and entertaining area for a young, growing family. What was once an underutilized part of the yard is now a vibrant, versatile annex space.</div>
          					</div>
          					<div class="buttons">
            						<div class="view-project">View Project</div>
          					</div>
        				</div>
      			</div>
      			<div class="content01">
        				<img class="picture-icon" alt="" src="/static/assets/images/portofolio/oregon-project-exterior.jpeg">
        				
        				<div class="section">
          					<img class="picture-icon1" alt="" src="/static/assets/images/portofolio/oregon-project-interior.jpeg">
          					
          					<div class="details1">
            						<div class="name">
              							<div class="name1">Oregon</div>
              							<div class="location">Berkeley, California</div>
            						</div>
            						<div class="description1">The final piece of the puzzle for a family upgrading their Berkeley home, the Oregon Street one bedroom ADU fits a full home into a 400 square foot package without compromise.</div>
          					</div>
          					<div class="buttons">
            						<div class="view-project">View Project</div>
          					</div>
        				</div>
      			</div>
      			<div class="content01">
        				<img class="picture-icon" alt="" src="/static/assets/images/portofolio/fulton-project-exterior.jpeg">
        				
        				<div class="section">
          					<img class="picture-icon1" alt="" src="/static/assets/images/portofolio/fulton-project-interior.jpeg">
          					
          					<div class="details1">
            						<div class="name">
              							<div class="name1">Fulton</div>
              							<div class="location">Berkeley, California</div>
            						</div>
            						<div class="description1">Cozied up behind a craftsman bungalow in Berkeley, the Fulton Street Studio opts for an efficient mix of living features that can be reconfigured to allow for open space for work and play.</div>
          					</div>
          					<div class="buttons">
            						<div class="view-project">View Project</div>
          					</div>
        				</div>
      			</div>
      			<div class="content01">
        				<img class="picture-icon" alt="" src="/static/assets/images/portofolio/galvin-project-exterior.jpeg">
        				
        				<div class="section">
          					<img class="picture-icon1" alt="" src="/static/assets/images/portofolio/caldwell-project-interior.jpeg">
          					
          					<div class="details1">
            						<div class="name">
              							<div class="name1">Galvin</div>
              							<div class="location">El Cerrito, California</div>
            						</div>
            						<div class="description1">The Galvin Studio sits on a large lot in the El Cerrito hills with views of the Golden Gate, where a working artist needed a space to nurture inspiration and room to expand her practice.</div>
          					</div>
          					<div class="buttons">
            						<div class="view-project">View Project</div>
          					</div>
        				</div>
      			</div>
      			<div class="content01">
        				<img class="picture-icon" alt="" src="/static/assets/images/portofolio/arlington-project-exterior.jpeg">
        				
        				<div class="section">
          					<img class="picture-icon1" alt="" src="/static/assets/images/portofolio/arlington-project-interior.jpeg">
          					
          					<div class="details1">
            						<div class="name">
              							<div class="name1">Arlington</div>
              							<div class="location">Berkeley, California</div>
            						</div>
            						<div class="description1">
              							<p class="bates">This family in the Berkeley Hills wanted to build a backyard home for their grandmother, Linda, to age in place closer to her family. The main house enjoys panoramic views of San Francisco across the bay, so this backyard home needed to keep a low profile in order to avoid obstructing the panorama.</p>
            						</div>
          					</div>
          					<div class="buttons">
            						<div class="view-project">View Project</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="header">
      			<img class="logo-harsa-1" alt="" src="/static/assets/images/logoHarsa.png">
      			
				<nav class="menu-bar">
					<a href="/templates/home.html" class="menu-link">Home</a>
					<a href="/templates/about.html" class="menu-link">About</a>
					<a href="/templates/services.html" class="menu-link">Services</a>
					<a href="/" class="menu-link active">Portfolio</a>
					<a href="/templates/contact.html" class="menu-link">Contact</a>
					<a href="/templates/cost_estimator.html" class="menu-link">Cost Estimator</a>
				</nav>
  	</div>
  	
  	
  	
  	
</body>
</html>