<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="static/css/services.css"/>
    <link rel="stylesheet"  href="static/css/global.css"/>
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Trap:wght@700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@500;600&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="services">
    		<div class="header">
      			<img class="logo-harsa-1" alt="" src="static/assets/images/logoHarsa.png">
      			
				<nav class="menu-bar">
					<a href="home.html" class="menu-link">Home</a>
					<a href="about.html" class="menu-link">About</a>
					<a href="/" class="menu-link active">Services</a>
					<a href="portofolio.html" class="menu-link">Portfolio</a>
					<a href="contact.html" class="menu-link">Contact</a>
					<a href="cost_estimator.html" class="menu-link">Cost Estimator</a>
					<a href="login.html" class="menu-link">Login</a>
				</nav>
    		</div>
    		<div class="body">
      			<div class="container01">
        				<div class="picture-container">
          					<img class="picture-icon" alt="" src="static/assets/images/dan-burton-ww1pEjCjb6s-unsplash.jpg">
          					
          					<div class="picture">
            						<img class="dan-burton-hpszwx44ria-unsplas-icon" alt="" src="static/assets/images/dan-burton-HPsZwX44RiA-unsplash.jpg">
            						
          					</div>
        				</div>
        				<div class="titles">
          					<div class="title">
            						<div class="transform">
              							<div class="lorem-ipsum-doler">Lorem ipsum doler opset</div>
              							<div class="transform1">Transform</div>
            						</div>
            						<div class="your-space">
              							<div class="with-harsa">Your Space</div>
            						</div>
            						<div class="with-harso">
              							<div class="with-harsa">with Harsa</div>
            						</div>
          					</div>
          					<div class="detail">
            						<div class="harsa">Harsa</div>
            						<div class="architect-solution">Architect Solution</div>
          					</div>
        				</div>
      			</div>
      			<div class="container02">
        				<div class="title1">
          					<div class="with-harsa">Services</div>
        				</div>
        				<div class="menu">
          					<div class="service-menu-drop-down">
            						<div class="with-harsa">01</div>
            						<img class="parsoa-khorsand-6t7ud-fgigo-un-icon" alt="" src="static/assets/images/parsoa-khorsand-6T7UD-fGIgo-unsplash.jpg">
            						
            						<div class="name-and-number">
              							<div class="with-harsa">Architectural Design</div>
            						</div>
            						<div class="lorem-ipsum-dolor-sit-amet-co-wrapper">
              							<div class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            						</div>
            						<img class="eparrow-up-bold-icon" alt="" src="ep:arrow-up-bold.png">
            						
          					</div>
          					<div class="service-menu-drop-down1">
            						<div class="name-and-number1">
              							<div class="div1">02</div>
              							<div class="architectural-design1">Interior Design</div>
            						</div>
            						<img class="eparrow-up-bold-icon" alt="" src="ep:arrow-up-bold.png">
            						
          					</div>
          					<div class="service-menu-drop-down1">
            						<div class="name-and-number1">
              							<div class="div1">03</div>
              							<div class="architectural-design1">Project Management</div>
            						</div>
            						<img class="eparrow-up-bold-icon" alt="" src="ep:arrow-up-bold.png">
            						
          					</div>
          					<div class="service-menu-drop-down1">
            						<div class="name-and-number1">
              							<div class="div1">04</div>
              							<div class="architectural-design1">Furniture Design</div>
            						</div>
            						<img class="eparrow-up-bold-icon" alt="" src="ep:arrow-up-bold.png">
            						
          					</div>
        				</div>
      			</div>
      			<div class="container03">
        				<div class="title2">
          					<div class="with-harsa">Solutions</div>
        				</div>
        				<div class="section01">
          					<div class="text-and-description">
            						<div class="lorem-ipsum-dolor1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
            						<div class="we-incorporated-natural-container">We incorporated natural materials such as
              							<span class="wood-and-stone">wood and stone, </span>
            						</div>
          					</div>
          					<img class="spacejoy-9m66c-w-tom-unsplash-icon" alt="" src="static/assets/images/spacejoy-9M66C_w_ToM-unsplash.jpg">
          					
        				</div>
        				<div class="section-02">
          					<div class="picture-container1">
            						<div class="picture1">
              							<img class="peter-thomas-qk7tg7c8lrq-unspl-icon" alt="" src="static/assets/images/peter-thomas-Qk7tG7C8LRQ-unsplash.jpg">
              							
            						</div>
            						<div class="picture2">
              							<img class="anton-sobotyak-n6eejyowwag-uns-icon" alt="" src="static/assets/images/anton-sobotyak-n6eEjyOWWag-unsplash.jpg">
              							
            						</div>
          					</div>
          					<div class="text-and-description1">
            						<div class="harsa">and used
              							<span class="wood-and-stone">large windows</span> and expansive outdoor living spaces
            						</div>
            						<div class="lorem-ipsum-dolor2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </div>
          					</div>
        				</div>
      			</div>
      			<div class="content">
        				<div class="content">
          					<div class="picture-container2">
            						<img class="responses-1-icon" alt="" src="static/assets/images/Responses.png">
            						
          					</div>
          					<div class="container-buttons">
            						<div class="arrow-buttons">
              							<img class="carbonnext-outline-icon" alt="" src="static/assets/icons/carbon_next-outline.svg">
              							
              							<img class="carbonnext-outline-icon1" alt="" src="static/assets/icons/carbon_next-outline.svg">
              							
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="footer">
      			<div class="footers-background">
        				<div class="container">
          					<div class="details">
            						<div class="email">
              							<div class="addres">Email</div>
              							<div class="harsarchitectsgmailcom">harsarchitects@gmail.com</div>
            						</div>
            						<div class="phone-number">
              							<div class="addres">Phone Number</div>
              							<div class="harsarchitectsgmailcom">+59 82185672355</div>
            						</div>
            						<div class="contact">
              							<div class="addres">Addres</div>
              							<div class="anywhere-st-chicago">123 Anywhere St Chicago, 452 Somewhere St New York</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>